[submodule "upstream/cowork"]
	path = upstream/cowork
	url = https://github.com/stromy-org/Cowork.git
[submodule "upstream/duke-strategies-plugin"]
	path = upstream/duke-strategies-plugin
	url = https://github.com/stromy-org/duke-strategies-plugin.git
[submodule "upstream/global-skills"]
	path = upstream/global-skills
	url = https://github.com/stromy-org/global-skills.git
